th,
td {
  border: 1px solid #000;
  width: 60px;
  padding: 3px;
}

table {
  display: block;
  border-collapse: collapse;
  overflow-x: auto;
}

th {
  background-color: #bbbbbb;
}

td:hover,
th:hover {
  background-color: #ccccff;
}

tr:nth-child(odd) {
  background-color: #ffdddd;
}

/* HEX cisla:
*
* 0 1 2 3 4 5 6 7 8 9 a b c d e f
* 
*
* */
